<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">  
<suite name="test_suite">  
<test name="Testing tools"> 
<groups>
<run>
<include name ="Testing tool"></include>
</run>
</groups>   
<classes>  
<class name="com.javatpoint12.After_groups"/>  
</classes>  
</test> <!-- Test -->  
</suite> <!-- Suite -->  